<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Mariangie RM | Full-Stack Web developer</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="salmon" data-spy="scroll" data-target="#slash-navbar" data-offset="50">
      <%= yield %>
    </body>
</html>
